 :root {
  --lightYellow: #fffdee;
  --darkBlue: #0b0b77;
  --blue: #1919c2;
  --lightBlue: #4f4fff;
  --yellow: #ffe100;

  --color0: #0c451c;
  --color0-1: #125b27;
  --color1: #2B9348;
  --color2: #55A630;
  --color3: #81B918;
  --color4: #edcb7a;
  --color5: #fbe09e;
  --color6: #e9f1eb;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: raleway;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--color6);
}

.mainContainer_index{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerNamePage_index{
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: .7rem;
  transition: all 900ms ease;
}

.namePage{
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: .08rem;
}

.namePage_G{
  font-size: 4.1rem;
  letter-spacing: 0rem;
  color: #125b27;
}


.namePage ion-icon{
  outline: 4px solid var(--color0-1);
  padding: .5rem;
  font-size: 2rem;
  margin-left: .35rem;
  background-color: #ffe100;
  border-radius: 50%;
  font-weight: 800;
}

.preferencesContainer_index{
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color5);
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding-top: .4rem;
  padding-bottom: 2.5vh;
  border-radius: 20px;
  transform: translateY(30%);

  transition: all 400ms ease;
}

.questionPreferences{
  font-size: 1rem;
  font-weight: 600;
  color: var(--color0);
  margin-bottom: 1vh;

}

.radioButtonPreferencesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.radioButtonContainer{
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  margin: 3.5%;
}

.radioButtonContainer input{
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.radioButtonContainer .radioTile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
  outline: 3px solid white;
  background-color: rgba(255, 255, 255, 0.103);
  transition: all 250ms ease;
}

.radioButtonContainer ion-icon{
  color: white;
  font-size: 2.5rem;
}

input:checked + .radioTile {
  outline: 2px solid var(--color1);
  background-color: var(--color1);
  box-shadow: 2px 2px 8px var(--color2);
}

input:checked + .radioTile ion-icon{
  color: var(--yellow);
}

.namePreferenceTxt{
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: .4rem;
  color: var(--color0);
  transition: all 400ms ease;
}

.rightNowEventsTitle{
  display: block;
  width: 100%;
  padding-top: .7rem;
  padding-left: 1.4rem;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;

}

.showPreferencesButton{
  display: none;
  /* display: flex; */
  cursor: pointer;
  appearance: none;
  outline: 2px solid var(--color0-1);
  border-radius: 15px;
  color: var(--color0-1);
  background-color: #E9F1EB;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  margin-top: .6rem;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 500ms ease;
}

.showPreferencesButton:hover{
  box-shadow: 0 0 7px var(--color1);
  background-color: yellow;
  color: black;
  transform: rotate(1turn);
  transition: all 450ms ease-out;
}

.showPreferencesButton ion-icon{
  font-size: 1.7rem;
}


.divEvents{
  display: none;
}

